{% extends 'app/Base.html' %}
{% block content %}

{% if messages %}
    <ul class="messages" id="notification_messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
            </li>
        {% endfor %}
    </ul>
{% endif %}

<h1>Give us your Feedback!</h1>

<form method="post" class="contact_form">
    {% csrf_token %}

    <div class="form_group_contact">
        <label for="{{ form.name.id_for_label }}">Name:</label>
        {{ form.name }}
    </div>

    <div class="form_group_contact">
        <label for="{{ form.email.id_for_label }}">Email:</label>
        {{ form.email }}
    </div>

    <div class="form_group_contact">
        <label for="{{ form.message.id_for_label }}">Message:</label>
        {{ form.message }}
    </div>

    <input type="submit" value="Send Message">
</form>

{% endblock content %}
