{% extends 'app/Base.html' %}

{% block content %}
<h1>{{ video.title }}</h1>

<video controls class="vid_comment">
    <source src="{{ video.video_file.url }}" type="video/mp4">
    Your browser does not support the video tag.
</video>

<div class="comment_container">
    <h2>Comments</h2>
    <ul class="comments">
        {% for comment in comments %}
            <li>
                <strong>{{ comment.name }}</strong>{{ comment.text }} 
                <em>{{ comment.created_at }}</em>
            </li>
        {% endfor %}
    </ul>
</div>

<form method="POST" class="vid_form">
    <h2>Leave a Comment:</h2>
        {% csrf_token %}
        {{ form.as_p }}
    <input type="submit" value="Comment">
</form>
{% endblock content %}
